@media (max-width: 768px) {
  #header {
    padding: 70px 20px !important;
  }

  #header h1 {
    display: none;
  }

  .section-heading {
    font-size: 32px;
  }

  .skill-badge {
    font-size: 20px !important;
  }

  .catchup-heading {
    font-size: 28px !important;
  }

  #hand {
    height: 40px;
  }

  .catchup {
    font-size: 24px;
  }
}

.card {
  border: none;
  box-shadow: 0 0 89px -9px rgba(0, 0, 0, 0.07);
  background-color: white;
  transition: all 0.3s;
}

.card:hover {
  /* transform: scale(0.96); */
  box-shadow: 0 0 89px 40px rgba(0, 0, 0, 0.07);
}

.card img {
  cursor: pointer;
}

#insta {
  cursor: pointer;
}

body {
  background-color: white;
}

.skill-badge {
  font-size: 28px;
  transition: all 0.4s;
}

.skill-badge:hover {
  background-color: #131a43;
}

#skills-card {
  background: #131a43;
  color: white;
  border-radius: 10px;
  box-shadow: none;
}

#skills:hover {
  transform: none;
}

#skill-svg {
  width: 100%;
  /* padding-top: -40px; */
  /* transform: translateY(-20px) !important; */
}

.section-heading {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  transition: all 0.4s;
}

#peace {
  transform: translateY(-2px);
}

.navbar-toggler-icon {
  background-image: url('./components/menu.png') !important;
  transform: scale(1.4);
  margin-right: 2px !important;
}

.navbar button {
  border: none !important;
}

.navbar button:focus {
  outline: none;
}

#brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.navbar {
  font-weight: 500;
  /* font-family: 'Montserrat', sans-serif; */
}

#hand {
  transform: translateY(-6px);
}

.catchup {
  text-transform: none;
  font-weight: 600;
}

#footer {
  overflow-x: hidden;
}
